<div class="container  mt-3">

  <div class="nav-container d-flex">

    <div class="container-list-cards">
      <span>Showing 20 - from 125</span>
    </div>
    <div class="container-tollbar d-flex">
      <div class="dropdown">
        <button class="btn " type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          <div class="inside-btn">
            <div class="aside mt-2">
              <i class="fa-solid fa-sliders"></i>
            </div>
            <div class="container-btn d-flex">
              <div>
                <span>short by</span>
              </div>
              <div class="featured ">
                <span> Featured </span>
              </div>

            </div>
            <i class="fa-solid fa-caret-down"></i>
          </div>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="#"><i class="bi bi-pencil-fill"></i> Edit</a></li>
          <li><a class="dropdown-item" href="#"><i class="bi bi-trash-fill"></i> Delete</a></li>
          <li><a class="dropdown-item" href="#"><i class="bi bi-eye-fill"></i> View</a></li>
        </ul>
      </div>
    </div>

  </div>


  <div class="card-container">
    <div class="row text-center">
      <ng-container *ngFor="let _ of [].constructor(13); let i = index">
        <div class="col-md mb-3">
          <app-cards class="d-flex justify-content-center"></app-cards>
        </div>
      </ng-container>
    </div>
  </div>



  <div class="paginator-contaier justify-content-center align-item-center d-flex">
    <div class="page-container">
      <ul class="paginator">
        <li class="page-item"><a href="#" class="page-link icon"><i class="fa-solid fa-chevron-left"></i></a></li>
        <li class="page-item active"><a href="#" class="page-link">1</a></li>
        <li class="page-item"><a href="#" class="page-link">2</a></li>
        <li class="page-item"><a href="#" class="page-link">3</a></li>
        <li class="page-item"><a href="#" class="page-link">4</a></li>
        <li class="page-item"><a href="#" class="page-link icon"><i class="fa-solid fa-chevron-right"></i></a></li>
      </ul>
    </div>
  </div>

</div>
