<footer>
 <div class="footer-container d-flex">
  <div class="payments-container">
    <div class="payments d-flex">
      <img src="https://upload.wikimedia.org/wikipedia/commons/5/5e/Visa_Inc._logo.svg" alt="">
      <img src="https://upload.wikimedia.org/wikipedia/commons/2/2a/Mastercard-logo.svg" alt="">
      <img src="assets/amex.png" alt="">
      <img src="https://upload.wikimedia.org/wikipedia/commons/3/36/Skrill_primary_logo_RGB.svg" alt="">
      <img src="https://miro.medium.com/v2/resize:fit:640/format:webp/0*GAm7ubYgPzUzcZ_M.png" alt="">
    </div>
  </div>

  <div class="details">
    <div class="socials">
      <div class="img">
        <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" alt="">
        <img src="https://cdn.icon-icons.com/icons2/2972/PNG/512/twitter_logo_icon_186891.png" alt="">
        <img src="https://static-00.iconduck.com/assets.00/discord-icon-512x512-xtx725no.png" alt="">
       </div>
    </div>

    <div class="info">
      <div class="container chiksimg">
        <a class="navbar-brand" href="#">
         <div >
          <img src="https://chicksgold.com/logo/chicks-logo-large.svg" alt="Logo">
         </div>
          <span> Suppor@chiksgold.com</span>
        </a>
      </div>
      <div class="container">
        <div class="mt-2">
           <strong>ChiksGold</strong>
        </div>
        <ol>
          <li>Lorem Ipsum</li>
          <li>Lorem Ipsum</li>
          <li>Lorem Ipsum</li>
          <li>Lorem Ipsum</li>
          <li>Lorem Ipsum</li>
        </ol>
      </div>
      <div class="container">
        <div class="mt-2">
        <strong>Support</strong>
        </div>
        <ol>
          <li>Lorem Ipsum</li>
          <li>Lorem Ipsum</li>
        </ol>
      </div>
      <div class="container">
        <div class="mt-2">
           <strong>Legal</strong>
        </div>
        <ol>
          <li>Lorem Ipsum</li>
          <li>Lorem Ipsum</li>
          <li>Lorem Ipsum</li>
          <li>Lorem Ipsum</li>
        </ol>
      </div>
      <div class="container trustpilot">
       <div>
        <img src="https://cdn.trustpilot.net/brand-assets/4.1.0/stars/stars-5.svg" alt="">
       </div>
       <span>trustpilot reviews</span>
      </div>

    </div>
    <div class="copyright">
        <p>&copy; 2023 Tu Empresa. Todos los derechos reservados.</p>
    </div>
  </div>

 </div>

</footer>
