
.footer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 400px;
  align-items: center;
  justify-content: space-between;
}

.payments-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #4c608533;
}

.payments {
  width: 68%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.payments img {
  margin-right: 15px;
  width: 100px;
  height: 30px;
}

.details {
  width: 68%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.socials {
  display: flex;
  width: 100%;
  height: 20%;
  border-bottom: 1px solid rgb(81, 105, 150);
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}

.socials img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.info {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 70%;
}

.container {
  width: 20%;
  height: 100%;
  color: rgba(255, 255, 255, 0.404);
  font-size: 12px;
}

strong {
  color: white;
  font-size: 15px;
}

.chiksimg img{
    max-width: 100%;
  }

.chiksimg{
  color: rgba(255, 255, 255, 0.596);
}

ol {
  list-style-type: none;
  padding: 0;
}

.trustpilot img {
  width: 80px;
}

.copyright {
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.596);
}


@media only screen and (max-width: 768px) {
  .payments {
    width: 100%;
    justify-content: center;
  }

  .payments img {
    margin-right: 10px;
    width: 80px; /* Ajusta el ancho de las imágenes según tus necesidades */
    height: 24px; /* Ajusta la altura de las imágenes según tus necesidades */
  }

  .details {
    width: 100%;
  }

  .info {
    flex-direction: column;
  }

  .container {
    width: 100%;
  }

  .socials {
    padding-bottom: 10px; /* Ajusta el espacio entre las redes sociales y la información */
  }

  .socials img {
    margin-right: 10px;
    width: 25px; /* Ajusta el ancho de las imágenes de redes sociales según tus necesidades */
    height: 25px; /* Ajusta la altura de las imágenes de redes sociales según tus necesidades */
  }

  .chiksimg img {
    max-width: 70%; /* Ajusta el ancho máximo de la imagen del logo según tus necesidades */
  }

  .chiksimg span {
    font-size: 15px;
  }
}


@media only screen and (max-width: 845px) {
  .footer-container {
    height: auto;
  }

  .details {
    padding: 20px;
  }

  .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(81, 105, 150);
    padding-bottom: 20px;
  }

  .socials {
    padding-bottom: 10px;
  }

  .socials img {
    margin-right: 10px;
  }

  .chiksimg img {
    max-width: 100%;
  }

  .chiksimg span {
    font-size: 8px;
  }
}
