<!-- app.component.html -->

<div class="container">
  <div class="navbar">
    <div class="navbar-brand-container">
      <div class="logo">
        <a class="navbar-brand" href="#">
          <img src="https://chicksgold.com/logo/chicks-logo-large.svg" alt="Logo">
        </a>
        <div class="vertical-divider"></div>
      </div>
      <div class="navbar-items">
        <ul class="navbar-nav">
          <li class="nav-brand-item" (mouseover)="mostrarIconoCurrency = true" (mouseout)="mostrarIconoCurrency = false">
            <a class="nav-link">
              CURRENCY
              <i *ngIf="!mostrarIconoCurrency" class="fas fa-chevron-down"></i>
              <i *ngIf="mostrarIconoCurrency" class="fas fa-chevron-up"></i>
            </a>
          </li>
          <li class="nav-brand-item" (mouseover)="mostrarIconoItems = true" (mouseout)="mostrarIconoItems = false">
            <a class="nav-link">
              ITEMS
              <i *ngIf="!mostrarIconoItems" class="fas fa-chevron-down"></i>
              <i *ngIf="mostrarIconoItems" class="fas fa-chevron-up"></i>
            </a>
          </li>
          <li class="nav-brand-item" (mouseover)="mostrarIconoAccount = true" (mouseout)="mostrarIconoAccount = false">
            <a class="nav-link">
              ACCOUNTS
              <i *ngIf="!mostrarIconoAccount" class="fas fa-chevron-down"></i>
              <i *ngIf="mostrarIconoAccount" class="fas fa-chevron-up"></i>
            </a>
          </li>
          <li class="nav-brand-item" (mouseover)="mostrarIconoServices = true" (mouseout)="mostrarIconoServices = false">
            <a class="nav-link">
              SERVICES
              <i *ngIf="!mostrarIconoServices" class="fas fa-chevron-down"></i>
              <i *ngIf="mostrarIconoServices" class="fas fa-chevron-up"></i>
            </a>
          </li>
          <li class="nav-brand-item" (mouseover)="mostrarIconoSwap = true" (mouseout)="mostrarIconoSwap = false">
            <a class="nav-link">
              SWAP
              <i *ngIf="!mostrarIconoSwap" class="fas fa-chevron-down"></i>
              <i *ngIf="mostrarIconoSwap" class="fas fa-chevron-up"></i>
            </a>
          </li>
          <li class="nav-brand-item" (mouseover)="mostrarIconoSell = true" (mouseout)="mostrarIconoSell = false">
            <a class="nav-link">
              SELL
              <i *ngIf="!mostrarIconoSell" class="fas fa-chevron-down"></i>
              <i *ngIf="mostrarIconoSell" class="fas fa-chevron-up"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="navbar-container">
      <ul class="navbar-nav">
        <li class="nav-item" (mouseover)="mostrarIcono = true" (mouseout)="mostrarIcono = false">
          <button type="button" class="custom-btn-usd custom-btn">
            USD
            <i *ngIf="!mostrarIcono" class="fas fa-chevron-down"></i>
            <i *ngIf="mostrarIcono" class="fas fa-chevron-up"></i>
          </button>
        </li>
        <li class="nav-item">
          <button type="button" class="custom-btn-card custom-btn">
            <i class="fa-solid fa-cart-shopping"></i> CART (5)
          </button>
        </li>
        <li class="nav-item">
          <button type="button" class="custom-btn-signin">
            SIGN IN <i class="fa-solid fa-user"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="container-body">
    <router-outlet></router-outlet>
  </div>
</div>
