/* Estilos generales del navbar */
.navbar {
  padding: 5px 35px;
  font-size: 12px;
  overflow-y: auto;  /* Cambiado a 'auto' */
}

/* Estilos específicos cuando el navbar está en estado "scrolled" */
.navbar-scrolled {
  position: fixed;
  top: 0;
  transition: background-color 0.3s ease;
  background-color: #3e3f53;
  border-bottom: 1px solid rgb(81, 105, 150);
  width: 100%;
  z-index: 1000;
  padding: 5px 35px;
  overflow-y: auto;  /* Cambiado a 'auto' */
}



.navbar a {
  color: rgba(255, 255, 255, 0.596);
  margin-right: 15px;
}

.navbar a:hover {
  color: #33d192;
}

img{
  margin-bottom: 18px;
}


.navbar-brand-container {
  display: flex;

}

.btn{
  color: black;
  background-color: #33d192;
  font-size: 12px;
}

.btn:hover{
  background-color: #31ad7c;
}

span{
  margin-left: 15px;
  font-weight: 200;
}


.container{
  height: 100%;
}
