/* CSS */
body{
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.container{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(https://chicksgold.com/home/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: 'Arial', sans-serif;
}


.navbar {
  background-color: #37384b;
  padding: 5px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.navbar-brand-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  display: flex;
  margin-bottom: 5px;
  justify-content: center;
}
.vertical-divider {
  height: 45px;
  width: 1px;
  background-color: #ccc;
  margin-left: 34px;
}

.navbar-nav {
  list-style: none;
  display: flex;
}

.nav-item {
  margin-right: 15px;
}

.nav-brand-item a{
  font-size: 13px;
  margin-right: 55px;
  color: rgba(255, 255, 255, 0.726);
}

.nav-link {
  text-decoration: none;
  color: #007bff;
}

.nav-link:hover {
  text-decoration: underline;
}

.navbar-toggler {
  display: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-item {
  padding: 10px;
  text-decoration: none;
  color: #333333;
  display: block;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
}

.form-inline {
  display: flex;
  align-items: center;
}

.form-control {
  margin-right: 10px;
}

.btn {
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar-nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .navbar-toggler {
    display: block;
  }

  .navbar-toggler-icon {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #007bff;
  }

  .navbar-toggler.active + .navbar-nav {
    display: flex;
  }

  .nav-item {
    margin-right: 0;
    margin-bottom: 10px;
  }
}



.custom-btn-signin {
  display: inline-block;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: black;
  border: none;
  background-color: #39e29d;
  border-radius: 4px;
}

.custom-btn-card{
  display: inline-block;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.726);
  border: none;
  background-color: transparent;
  border-radius: 4px;
}

.custom-btn-usd{
  display: inline-block;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.726);
  border: none;
  background-color: transparent;
  border-radius: 4px;
}

.custom-btn-signin:hover {
  background-color: #33d192;
  border-color: #2bb67e;
}

.custom-btn:hover {
 color: #2bb67e;
}


