

.navbar {
  background-color: #37384b;
  border-bottom: 1px solid rgba(76, 96, 133, .5);
  padding: 5px 35px;
  font-size: 12px;
}

.navbar a {
  color: rgba(255, 255, 255, 0.596);
  margin-right: 15px;
}

.navbar a:hover {
  color: #33d192;
}

img{
  margin-bottom: 18px;
}


.navbar-brand-container {
  display: flex;

}

.btn{
  color: black;
  background-color: #33d192;
  font-size: 12px;
}

.btn:hover{
  background-color: #31ad7c;
}

span{
  margin-left: 15px;
  font-weight: 200;
}

