/* Import external styles */
@import "~@fortawesome/fontawesome-free/css/all.min.css";


html,
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: url(https://chicksgold.com/home/background.jpg) center center / cover no-repeat #37384b;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0d6efd;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-track:hover {
  background-color: transparent;
}
