/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/css/all.min.css";



html,
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url(https://chicksgold.com/home/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #37384b;
}



/* Estilo del track del scrollbar (barra principal) */
::-webkit-scrollbar {
  width: 8px;
}

/* Estilo del handle (el "botón" que puedes arrastrar) */
::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
}

/* Estilo al pasar el ratón sobre el handle */
::-webkit-scrollbar-thumb:hover {
  background-color: #0d6efd;
}

/* Estilo del track cuando no estás interactuando con el scrollbar */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Estilo del track al pasar el ratón sobre el scrollbar */
::-webkit-scrollbar-track:hover {
  background-color: transparent;
}
