.my-card {
  width: 250px;
  height: 360px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #4c608533;
  border-radius: 5px;
  padding: 15px;
}

.my-card-header {
  display: flex;
  height: 15%;
  background-color: transparent;
  color: #fff;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  text-align: center;
}

.text span {
  font-size: 11px;
  font-weight: 600;
}

.text i {
  font-size: 6px;
  padding-right: 4px;
  color: #31ad56;
}

.state {
  width: 95%;
  height: 50%;
  border: 1px solid #33d192;
  border-radius: 5px;
}

.state span {
  color: #33d192;
  font-size: 12px;
}

.input-picker-container {
  display: flex;
  width: 30%;
  height: 80%;
  align-items: center;
  background-color: #4c608533;
  border-radius: 5px;
}

.input-picker-container input {
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.596);
  font-weight: 600;
}

input:focus-within {
  box-shadow: none;
}

.item-container {
  text-align: start;
}

.img-item {
  max-width: 100%;
  height: auto;
}

.img-item img {
  width: 50%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.name-item {
  max-width: 100%;
  height: auto;
  color: rgba(255, 255, 255, 0.596);
  font-weight: 600;
}

.name-item img {
  border: 1px solid #33d192;
  border-radius: 50%;
  width: 12%;
  height: auto;
}

.description-item {
  width: 100%;
  height: auto;
  color: rgba(255, 255, 255, 0.418);
  font-size: 12px;
  font-weight: 400;
}

.price {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.596);
  font-weight: 600;
  margin-right: 10px;
}

.discount {
  color: rgba(255, 255, 255, 0.596);
  font-size: 12px;
  text-decoration: line-through red;
  text-decoration-thickness: 2px;
}

.my-card-footer {
  height: 13%;
}

.details,
.cart {
  width: 45%;
  font-weight: 600;
  font-size: 12px;
}

.details {
  background-color: #4c608533;
  border: none;
  color: rgba(255, 255, 255, 0.596);
}

.details:hover {
  background-color: #4c608557;
}

.cart {
  background-color: #5762d5;
  border: none;
  color: rgba(255, 255, 255, 0.596);
}

.cart i {
  background-color: #484f97;
  border-radius: 5px;
}

.cart:hover {
  background-color: #484f97;
  border: none;
}
